NODE_ENV=production
API_PORT= # A port for the express API such as 5000
DISCORD_BOT_PORT= # A port for the Discord bot such as 5001
APP_ID= # You can get an app ID after you create your app/bot in the General Information section at discord.com/developers/applications
DISCORD_TOKEN= # You can get an Discord bot token after you create your app/bot at discord.com/developers/applications
PUBLIC_KEY= # You can get your app's public key after you create your app/bot in the General Information section at discord.com/developers/applications
GUILD_ID= # You can get the ID of any guild (Discord server) by right clicking the server and selecting `Copy Server ID`. Make sure this is a server you have your bot in.
DUMP_CHANNEL_ID= # You can get the ID of any channel on Discord by right clicking the channel and selecting `Copy Channel ID`. Make sure this is a channel where you can put images in and is in a server your bot is in.
DIFF_LOG_CHANNEL_ID= # You can get the ID of any channel on Discord by right clicking the channel and selecting `Copy Channel ID`. Make sure this is a channel where you want to see the diff messages and is in a server your bot is in.